<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Minhas Series
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <ion-card *ngFor="let series of seriesList">
    <img [alt]="series.title" [src]="series.image" />
    <ion-card-header>
      <ion-card-title>{{ series.title }}</ion-card-title>
      <ion-card-subtitle>
        {{ series.subtitle }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="series.isExpanded" class="expanded-content">
        <p>
          {{ series.description }}
        </p>
      </div>
      <ion-button expand="full" (click)="toggleExpand(series)">
        Overview
      </ion-button>
      <ion-icon name="heart" [color]="series.isFavorited ? 'danger' : 'medium'" (click)="toggleFavorite(series)"></ion-icon>
    </ion-card-content>
  </ion-card>

</ion-content>
