ion-header {
    --background: #466ab9;
    color: #808080; 
  }
  
  ion-toolbar {
    --background: #466ab9; 
  }
  
  ion-content {
    --background: #466ab9; 
  }
  
  .expanded-content {
    margin-top: 10px;
    color: #808080; 
  }
  
  ion-icon {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    color: #808080;
  }

  page-tab1 {
    --ion-background-color: #466ab9;  
  }
  