ion-tab-bar {
  display: flex;
  justify-content: center;
}

ion-tab-bar {
  background-color: #808080; 
}

ion-tab-button {
  --background: #808080;
  --color-selected: #466ab9; 
  --color: #808080;  

}

